<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>微信公众平台源码,微信机器人源码,微信自动回复源码 PigCms多用户微信营销系统</title>
<meta http-equiv="MSThemeCompatible" content="Yes" />
<link href="/tpl/User/default/common/css/style-1.css?id=103" rel="stylesheet" type="text/css" />
 <script src="__PUBLIC__/web/js/jquery-1.4.2.min.js" type="text/javascript"></script>
 <script src="__PUBLIC__/web/js/artDialog/jquery.artDialog.js?skin=default"></script>
<script src="__PUBLIC__/web/js/artDialog/plugins/iframeTools.js"></script>
</head>
<body>
<style type="text/css">
.table-content {width:120px;overflow:hidden;text-overflow: ellipsis;white-space:nowrap;}
</style>

<form method="post" id="info" >
<input type="hidden" class="type" name="type" value="" />
<input type="hidden" name="token" value="{$_GET['token']}" />
<!-- 列表 -->
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="ListProduct"> 
<thead>
<tr>
	<th style="width:30px;">编号</th>
	<th style="width:120px;">标题</th>
	<th style="width:120px;">图文ID</th>
	<th class="norightborder" style=" width:30px;">操作</th>
</tr>
</thead>
<tbody>
  	<volist id="class" name="info">
	<tr class="hover">
        <td class="td25">
			<span>{$i}</span>
		</td>
        <td>
          <div class="table-content">
			<span>
				{$class.title}
			</span>
          </div>
        </td>
        <td>
			{$class.media_id}
        </td>
        <td>
			<a class=" btnGreen dialog" onclick="returnHomepage('{$class.media_id}')" href="###">选中</a>
		</td>				
      </tr>	  
	</volist>
</tbody>
</table>
</form>
<div class="cLine">
	<div class="pageNavigator right">
		<div class="pages">{$page}</div>
	</div>
	<div class="clr"></div>
</div>
<script>
// 返回数据到主页面
function returnHomepage(url){
	var origin = artDialog.open.origin;
	var dom = origin.document.getElementById('menu_keyword');
	dom.value=url;
	setTimeout("art.dialog.close()", 100 )
}
</script>
</body>
</html>