<script type="text/javascript">
window.shareData = {
            "moduleName":"RentCar",
            "moduleID":"0",
            "imgUrl": "{$picurl}",
            "sendFriendLink": "{$f_siteUrl}{:U(MODULE_NAME/ACTION_NAME,array('token'=>$token,'group'=>$_GET['group']))}",
            "timeLineLink": "{$f_siteUrl}{:U(MODULE_NAME/ACTION_NAME,array('token'=>$token,'group'=>$_GET['group']))}",
            "tTitle": "{$title} {$sec_item['name']}",
            "tContent": "{$RentCar['business_desc']|html_entity_decode|strip_tags|mb_substr=0,89,'utf-8'}..."
        };
</script>
{$shareScript}

    <div id="ui-header" >
        <div class="fixed">
            <a class="ui-title" id="popmenu">选择分类</a> <a class="ui-btn-right" href=""></a>
        </div>
    </div>
    <div id="overlay"></div>
<div id="win" >
<ul class="dropdown">
    <li ><a href="{:U('RentCar/classify',array('token'=>$token,'wecha_id'=>$wecha_id,'group'=>0))}"><span>租车</span></a></li>
    <li ><a href="{:U('RentCar/classify',array('token'=>$token,'wecha_id'=>$wecha_id,'group'=>1))}"><span>其它</span></a></li>
    <li ><a href="{:U('RentCar/mylist',array('token'=>$token,'wecha_id'=>$wecha_id,'type'=>'rentcar'))}"><span>我的订单</span></a></li>
    <div class="clr"></div>
 </ul>
</div>