<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	    <head>
       <if condition="$zd['status'] eq 1">
            {$zd['code']}
        </if>

		<title>{$tpl.wxname}</title>
		<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<meta charset="utf-8">
		<link href="__PUBLIC__/static/tpl/144/css/cate.css" rel="stylesheet" type="text/css" />
	</head>

	<body>
		<!--music-->
		<if condition="$homeInfo['musicurl'] neq false">
			<include file="Index:music"/>
			
		</if>
<div class="mainbg" style="background:#7ABDE9;">
    <volist name="flashbg" id="so">
        <img src="{$so.img}" />
    </volist>
</div>
	<ul class="mainmenu">

		<volist name="info" id="vo">
			<li>
				<a href="<if condition="$vo['url'] eq ''">{:U('Wap/Index/lists',array('classid'=>$vo['id'],'token'=>$vo['token']))}<else/>{$vo.url|htmlspecialchars_decode}</if>" >
					<p><img src="{$vo.img}" /><span>{$vo.name}</span></p>
				</a>
			</li>
		</volist>	


	</ul>
  <div class="copyright">
<if condition="$iscopyright eq 1">
{$homeInfo.copyright}
<else/>
{$siteCopyright}
</if>
</div>  <include file="Index:styleInclude"/><include file="$cateMenuFileName"/> <include file="Index:kcdh"/> 
<!-- share -->
<include file="Index:share" />
	</body>
</html>