
		<script type="text/javascript">

			window.shareData = {  
				"moduleName":"Img",
				"moduleID": '{$_GET["id"]|intval}',
				"imgUrl": "{$res.pic}", 
				"timeLineLink": "{$f_siteUrl}{:U(MODULE_NAME/ACTION_NAME,array('token'=>$_GET['token'],'classid'=>$_GET['classid'],'id'=>intval($_GET['id'])))}",
				"sendFriendLink": "{$f_siteUrl}{:U(MODULE_NAME/ACTION_NAME,array('token'=>$_GET['token'],'classid'=>$_GET['classid'],'id'=>intval($_GET['id'])))}",
				"weiboLink": "{$f_siteUrl}{:U(MODULE_NAME/ACTION_NAME,array('token'=>$_GET['token'],'classid'=>$_GET['classid'],'id'=>intval($_GET['id'])))}",
				"tTitle": "{$res.title}-{$tpl.wxname}",
				"tContent": "{$res.text|htmlspecialchars_decode|strip_tags|trim|mb_substr=###,0,30,'utf-8'|str_replace="\\r\\n",' ',###|str_replace='"','',###}"
			};
		</script>	

{$shareScript}