<include file="Public:head"/>
<include file="RentCar:menu"/>
<!-- <script src="__PUBLIC__/web/js/artDialog/jquery.artDialog.js?skin=default"></script>
<script src="__PUBLIC__/web/js/artDialog/plugins/iframeTools.js"></script> -->

 <style>
.cLine {
    overflow: hidden;
    padding: 5px 0;
  color:#000000;
}
.alert {
padding: 8px 35px 0 10px;
text-shadow: none;
-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
background-color: #f9edbe;
border: 1px solid #f0c36d;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
color: #333333;
margin-top: 5px;
}
.alert p {
margin: 0 0 10px;
display: block;
}
.alert .bold{
font-weight:bold;
}
 </style>


<div class="content">
  <if condition="$renttypecnt lt 4">
  <div class="cLineC" style="line-height: 32px;"> <a href="{:U('RentCar/project_add',array('token'=>$token))}" class="btnGrayS vm bigbtn">添加租车类型</a>
  </div>
  </if>
  <div class="msgWrap form">
    <div class="bdrcontent">
      <div id="div_ptype">
        <table class="ListProduct" border="0" cellspacing="0" cellpadding="0" width="100%">
          <thead>
            <tr>
              <th style=" width:100px;">租车类型</th>
              <th style=" width:100px;">图片</th>
              <th style=" width:120px;">描述</th>
              <th style=" width:120px;">操作</th>
            </tr>
          </thead>
          <tbody>
              <volist name="rentcar_type" id="vo">
                <tr>
                    <td>{$vo.name}</td>
                    <td><div class="cateimg"><img src="{$vo.picurl}" class="cateimg_small"></div></td>
                    <td>{$vo.second_desc}</td>
                    <td>
              <a href="{:U('RentCar/project_item',array('tid'=>$vo['tid']))}" class="btnGreen">车型列表</a>
              <a href="{:U('RentCar/project_add',array('tid'=>$vo['tid']))}" class="btnGreen">编辑</a>
              <a href="{:U('RentCar/project_del',array('tid'=>$vo['tid']))}" onclick="return(confirm('确定要删除吗？'))" class="btnGreen">删除</a>
                    </td>
                </tr>
              </volist>
          </tbody>
         </table>
      </div>
    </div>
    <div class="footactions" style="padding-left:10px">
      <div class="pages">{$page}</div>
    </div>
  </div>

</div>

<include file="Public:footer"/>